.bdGame-grid {
    display: grid;
    grid-template-areas: 
        ". tools ."
        ". game ."
        ". . ."
    ;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 15% 80% 5%;
    width: 100%;
    height: 100vh;
    background-color: #363636;
}

.tool-bar {
    grid-area: tools;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.tool {
    width: 15%;
    height: 100%;
    border-radius: 10px;
}

.tool:hover {
    transform: scale(1.2) rotate(-10deg);
}

.tool:active {
    transform: scale(1) rotate(-10deg);
    border: none !important;
}

.tool img {
    width: 100%;
    height: 100%;
}

.selected-tool {
    transform: scale(1.2) rotate(-10deg);
}

.selected-tool:hover {
    border: none !important;
}

.disabled-tool {
    pointer-events: none;
    transform: scale(0.7) !important;
}

.bd-con {
    grid-area: game;
    width: 100%;
    height: 100%;
    background-image: url('../images/c4-texture.png');
    background-size: cover;
    border-radius: 20px;
    padding: 25px;
}

.bd-grid {
    display: grid;
    grid-template-areas: 
        "mg1 . timer"
        ". . ."
        "mg2 . mg3"
    ;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 45% 10% 45%;
    width: 100%;
    height: 100%;
}

.mini-game {
    width: 100%;
    height: 100%;
    background-color: #323131;
}

#mg1 {
    grid-area: mg1;
}

#mg2 {
    grid-area: mg2;
}

#mg3 {
    grid-area: mg3;
}

.timer-con {
    grid-area: timer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40%;
    font-family: 'Exedore', sans-serif;
    font-size: 3vw;
    color: white;
    background-color: black;
}

.timer p {
    width: 70%;
    text-align: left;
}

.lights-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 90%;
}

.light {
    width: 20%;
    height: 40%;
    background-color: rgb(223, 21, 21);
    border: 2px solid black;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0);
}

.completed {
    background-color: limegreen !important;
}

.gameStart {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.directions {
    width: 70%;
    height: 75%;
    text-align: center;
    overflow: hidden;
}

.button-con {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 5%;
}

.arrow-btn {
    width: 10%;
    height: 100%;
    color: white;
    font-size: 2.5vw;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.arrow-btn:hover {
    color: limegreen;
}

.direction-galla {
    display: flex;
    width: 200%;
    height: 70%;
}

.page-1 {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
}

.page-2 {
    position: relative;
    right: 0;
    width: 100%;
    height: 100%;
}

.page-2 h1 {
    font-size: 3vw !important;
    margin: 0 !important;
}

.page-2 p {
    font-size: 2.5vw !important;
    margin: 10px 0 !important;
}

.directions h1 {
    font-size: 4vw;
    font-family: sans-serif;
    color: white;
}

.directions p {
    font-size: 3.4vw;
    font-family: sans-serif;
    color: white;
    margin: 20px 0;
}

.start {
    width: 20%;
    height: 10%;
    font-size: 2vw;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.start:hover{
    background-color: limegreen;
    color: white;
}

.gameOver {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.scoreCard {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 15%;
    left: 5%;
    width: 30%;
    height: 70%;
    background-color: rgba(20, 18, 18, 0.5);
    border-radius: 50px;
    padding: 20px;
    z-index: 1;
}

.scoreCard h1 {
    font-size: 3.5vw;
    font-family: 'ArcadeClassic', sans-serif;
    font-style: italic;
    text-shadow: 0px 3px 2px #9b0ef3;
    color: red;
    text-align: center;
}

.scoreCard h2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 2vw;
    font-family: sans-serif;
    color: white;
    text-align: center;
    margin: 50px 0 0 0;
}

.scoreCard p {
    font-size: 2vw;
    font-family: sans-serif;
    color: red;
}

.quote {
    font-size: 1.2vw;
    font-style: italic;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

.scoreCard-btn {
    width: 60%;
    height: 10%;
    font-size: 1.3vw;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    background-color: white;
    margin: 50px 0 0 0;
    transition: 300ms;
    cursor: pointer;
}

.scoreCard-btn:hover {
    background-color: limegreen;
    color: white;
}

.endScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../images/scorchmark.png');
    background-size: cover;
    background-position: center;
    pointer-events: none;
    z-index: 1;
}

.screenCrack {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('../images/cracked.png');
    background-size: cover;
    background-position: center;
    pointer-events: none;
    z-index: 3;
}

.hidden {
    visibility: hidden;
}

.handBook-con {
    position: fixed;
    top: 0;
    left: -37.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    border-radius: 0 20px 20px 0;
    transition: 400ms;
}

.handBook {
    height: 100%;
    width: 93%;
    background-color: rgb(70, 68, 68);
    padding: 40px;
    overflow-y: scroll;
}

.handBook-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 100%;
    height: auto;
}
  
.openBook {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7%;
    height: 90%;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 2vw;
    font-family: sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #f5ebeb;
    background-color: #575252;
    border: none;
    border-radius: 0 20px 20px 0;
    padding: 10% 0;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.mini-gameInfo-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: green;
}

.mini-gameImg {
    width: 95%;
    height: 75%;
}

.mini-gameImg img {
    width: 100%;
    height: 100%;
}

.mini-gameExpand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 20%;
    font-size: 2.5vw;
    font-family: sans-serif;
    text-align: center;
    background-color: white;
    transition: 300ms;
}

.mini-gameExpand:hover {
    background-color: limegreen;
    color: white;
}

.mini-gameInfo-Expanded {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: fixed;
    top: 0;
    left: -50%;
    width: 40%;
    height: 100%;
    background-color: whitesmoke;
    overflow-y: scroll;
    transition: 300ms;
}

.disabled {
    background-color: #807e7e !important;
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #575252; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #817d7d;
    border-radius: 10px;
  }
