/* root */

/* page styling */

body {
    overflow-x: hidden;
}

.gridContainer {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(14, 1fr);
    background-color: rgb(40, 40, 40);
}

.gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.grass {
    background: rgb(3, 75, 3);
}

.borderGrass {
    border-left: 1vw ridge rgb(87, 87, 87);
    border-right: 1vw groove rgb(71, 71, 71);
    border-top: .6vw ridge rgb(116, 116, 116);
    background-image: linear-gradient(black, rgb(40, 40, 40));
}

.marsh {
    background: purple;
}

h1 {
    color: white;
    position: absolute;
    font-size: 2vw;
}

/* car styling */

.car {
    position: absolute;
    height: 6.142%;
    left: -100%;
    z-index: +1;
    animation-play-state: running;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.delay1s {
    animation-delay: 1s;
}
/* Car Number 1 */
.car1 {
    animation-duration: 6s;
}

.car1 > .base {
    background: blue;
}


.car2 {
    animation-duration: 4s;
}


.car2 > .base {
    background: green;
}

.car3 {
    animation-duration: 3s;
}

.texture {
    width: 100%;
    height: 100%;
}

.car3 > .base {
    background: red;
}

.car4 {
    animation-duration: 8s;
}

.car4 > .base {
    background: yellow;
}

.car4 > .wheelContainer {

}

.carWidth {
    width: 6.69%;
}

.car4Width {
    width: 14%;
}


@keyframes drive0 {
    0% {
        left: -10%;
    }

    100% {
        left: 110%;
    }
}

@keyframes drive1 {
    100% {
        left: -10%;
    }

    0% {
        left: 110%;
    }
}

.base {
    height: 80%;
    width: 100%;
}

.wheel {
    height: 100%;
    width: 10%;
    background: rgb(210, 210, 210);
}

.wheelContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    /* border: 1px solid red; */
}

/* frog styling */


#frog {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 8%;
    width: 4%;
}

.frogTemp {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 8%;
    width: 4%;
}

.life {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7%;
    width: 4%;
}

.frogBody {
    width: 25px;
    height: 35px;
    background: rgb(0, 253, 0);
    border-radius: 10px;
}

.legContainer {
    display: flex;
    flex-direction: column;
    width: 15px;
    height: 40px;
    justify-content: space-between;
}

.leg {
    width: 15px;
    height: 7px;
    background: rgb(0, 255, 0);
    border-radius: 10px;
}

.legTop {
    transform: rotate(60deg);
}

.legBottom {
    transform: rotate(-60deg);
}

