iframe {
    height: 100%;
    width: 100%;
    border: none;
}

.holder {
    width: 90%;
    min-height: 75vh;
}

.main {
    display: grid;
    grid-template-columns: 7fr 3fr;
    width: fit-content;
    justify-items: center;
    margin-right: 15px;
}

.description {
    padding: 10px;
}

.description>* {
    text-align: center;
}

.description>h5 {
    margin-bottom: 2vh;
}

.description>p {
    text-indent: 1.5vw;
    text-align: left;
    line-height: 1.4;
}


@media screen and (max-width: 1000px) {
    .main {
      grid-template-columns: 1fr;
    }
    .description {
        min-height: 10rem;
    }
}

.main>* {
    /* border: 1px solid white; */
}