* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.dark {
    background-color: #363636;
    color: white !important;
    font-family: Arial, Helvetica, sans-serif;
}

.light {
    background-color: whitesmoke;
    color: black !important;
    font-family: Arial, Helvetica, sans-serif;
}



.nav-con {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 65%;
}

.logo-con {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17%;
    height: 100%;
    background-color: #1e1e1c;
    padding: 0 0 0 15px;
}

.logo {
    width: 25%;
    height: 100%;
}

.logo img {
    width: 100%;
    height: 100%;
}

.logo-text {
    width: 75%;
    height: 100%;
    font-size: 4.6rem;
    color: white;
    font-family: 'ARMY RUST', sans-serif;
}

.hazdImg {
    width: 43%;
    height: 100%;
    background-color: #1e1e1c;
}

.hazdImg img {
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: #1e1e1c;
}

.nav ul {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    list-style: none;
}

.nav li {
    font-size: 1.5rem;
    margin: 0 25px 0 0;
    display: inline;
}

.nav a {
    text-decoration: none;
    color: white;
}

.nav a:hover {
    color: yellow;
    transition: 500ms;
}

.user-con {
    display: flex;
    justify-content: center;
    float: right;
    text-align: center;
    width: 20%;
    height: 35%;
}

.user {
    width: 70%;
    height: 100%;
    background-color: #1e1e1c;
}

.user p {
    font-size: 1.2rem;
    margin: 10px 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.userTri {
    width: 30%; 
    height: 100%;
}

.userTri img {
    width: 100%;
    height: 100%;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 15%;
    z-index: 100;
}

main {
    position: relative;
    min-height: 100vh;
    padding-bottom: 17rem;
}

footer {
    position: absolute;
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 15rem;
    width: 100%;
    background-color: #1e1e1c;
    overflow: hidden;
}

@media screen and (max-width: 1000px) {
    .footer-Game-links>* {
        display: none;
    }
    .footer-Hazardous-Math>* {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .footer-Hazardous-Socials>* {
        display: none;
    }
    .footer-Hazardous-More>* {
        display: none;
    }
}


footer ul {
    list-style: none;
}

footer h4 {
    color: white;
    text-decoration: underline;
}

footer h5 {
    color: white;
}

footer a {
    text-decoration: none;
    color: #0092ca;
}

footer a:hover {
    text-decoration: underline;
    color: #0092ca;
    transition: 500ms;
}

.footer-Con {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
}

.footer-Logo-Con {
    display: flex;
    justify-content: center;
    width: auto;
    height: 100%;
}

.footer-Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

.footer-Logo img {
    width: 100%;
    height: 30%;
}

.footer-Logo-Text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    font-size: 4.6rem;
    color: white;
    font-family: 'ARMY RUST', sans-serif;
}

.footer-Links-Con {
    display: flex;
    width: auto;
    height: 100%;
}

.footer-about {
    width: auto;
    height: 100%;
    text-align: left;
    padding: 40px 10px;
}

.footer-Game-links {
    width: auto;
    height: 100%;
    text-align: left;
    padding: 40px 10px;
}

.footer-Hazardous-Math {
    width: auto;
    height: 100%;
    text-align: left;
    padding: 40px 10px;
}

.footer-Hazardous-More {
    width: auto;
    height: 100%;
    text-align: left;
    padding: 40px 10px;
}

.footer-Hazardous-Socials {
    width: auto;
    height: 100%;
    text-align: left;
    padding: 40px 10px;
}

.site-Settings {
    width: auto;
    height: 100%;
    text-align: left;
    padding: 40px 10px;
}

.site-Theme {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.lightDark {
    color: white;
    border-style: none;
    outline: none;
    background-color: transparent;
}

.lightDark option {
    background-color: #1e1e1c;
}

.footer-Copy-Right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    padding: 0 0 5px 0;
}
